/**********************/
/* GENERAL STYLES */
:root {
  --color-1: hsl(148, 94%, 51%);
  --color-2: hsl(226, 73%, 50%);
}
body {
  margin: 0%;
  font-family: "Lato", sans-serif;
  background-image: url("../assets/topography.svg"),
    linear-gradient(180deg, var(--color-1), var(--color-2));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer {
  align-self: stretch;
  padding: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
footer a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 3px white);
  transition: filter 0.4s;
}
footer a:hover {
  filter: drop-shadow(0 0 15px rgb(251, 255, 0));
}

footer span {
  margin-left: 1rem;
}

/**********************/
/* H1 TEXT & ICON */
h1 {
  padding: 0 1rem;
  font-family: "Akaya Telivigala", cursive;
  font-size: 2.5rem;
  filter: drop-shadow(0px 0px 5px white);
  cursor: default;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  user-select: none;
}
.title-text {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
}
.🎩 {
  display: inline-block;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  will-change: transform, margin-right;
  transition: transform 0.5s 0.1s, margin-right 0.5s 0.1s;
  cursor: url("../assets/magic_wand.png"), crosshair;
}
.✨ {
  opacity: 0;
  font-size: 0px;
  z-index: -1;
  transform: translate(-5rem);
  will-change: transform, opacity, font-size;
  transition: opacity 0.4s, transform 0.5s, font-size 0.6s;
}

h1:hover .🎩 {
  transition: transform 0.5s, margin 0.5s;
  transform: rotate(270deg);
}

h1:hover .✨ {
  opacity: 1;
  transform: translate(0px);
  font-size: inherit;
}

/**********************/
/* Media queries */
@media (min-width: 768px) {
  footer {
    margin-bottom: 0;
  }
  .panel {
    max-width: 70vw;
    margin: 0;
    order: 0;
  }
  .container {
    width: 70vw;
  }
  .d-md-none {
    display: none;
  }
  .title-text {
    width: auto;
  }
  #item-form .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 996px) {
  body {
    background-image: url("../assets/topography.svg"),
      linear-gradient(45deg, var(--color-1), var(--color-2));
  }
  .panel {
    max-width: 40vw;
    margin: 0;
  }
  .container {
    width: 50vw;
  }
}
